.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
}

.iframeContainer {
  width: 100%;
  flex: 1;
  display: flex;
}

.iframe {
  width: 100%;
  flex: 1;
  border: none;
}
